/* Button */
.button{
    display: inline-block;
    margin: 0;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    transition: background 0.2s ease-in-out 0s, transform 0.2s ease-in-out 0s;
    cursor: pointer;
}
.button:hover{
    transform: scale(1.1);
}
.button-blue{
    background: navy;
}

.button-blue:hover{
    background: #005bca;
}
.button-blue:active{
    background: #0fcdfd;
}

.button-green{
    background: indigo;
}
.button-green:hover{
    background: #2c963e;
}
.button-green:active{
    background: greenyellow;
}

.button-black{
    background: black;
}